<div class="bars">
  <h2 class="bar-name"><%= @bar.name %></h2>
  <div class="bar-info">
    <p>
      Address: <%= @bar.address %>
    </p>
    <p>
      Hours of Operation: <%= @bar.hours_of_operation %>
    </p>
    <p>
      Cover Charge: <%= @bar.cover_charge %>
    </p>
  </div>

  <% @reviews.each do |review| %>
    <div class="review">
      <p>
        Rating: <%= review.rating %>
      </p>
      <p>
        Body: <%= review.body %>
      </p>
    </div>
  <% end %>
</div>
